.contenedor{
    padding: 3% 0% 3% 0%;
}

/*libreria*/
.slick-dots li button:before{
    font-size: 10px;
}
.slick-dots li.slick-active button:before{
    color: #3179C2;
}

.bg-icon{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    position: relative;    
}
.img-articulate{
    background-image: url('../../images/componentes/Sliders/partners/articulate.png');    
}
.img-totara{
    background-image: url('../../images/componentes/Sliders/partners/totara.png');    
}
.img-excelsoft{
    background-image: url('../../images/componentes/Sliders/partners/excelsoft.png');    
}
.img-edifice{
    background-image: url('../../images/componentes/Sliders/partners/edifice.png');    
}
.img-motrain{
    background-image: url('../../images/componentes/Sliders/partners/motrain.png');    
}
.img-lambda{
    background-image: url('../../images/componentes/Sliders/partners/lambda.png');    
}
.img-avilar{
    background-image: url('../../images/componentes/Sliders/partners/avilar.png');    
}
.img-vyond{
    background-image: url('../../images/componentes/Sliders/partners/vyond.png');    
}
.img-otto{
    background-image: url('../../images/componentes/Sliders/partners/otto.png');    
}
.img-exact{
    background-image: url('../../images/componentes/Sliders/partners/exact.png');    
}
.img-belatrix{
    background-image: url('../../images/componentes/Sliders/partners/belatrix.png');    
}
.img-go1{
    background-image: url('../../images/componentes/Sliders/partners/go1.png');    
}
.img-centro-liderazgo{
    background-image: url('../../images/componentes/Sliders/partners/centro-liderazgo.png');    
}
.img-beyond{
    background-image: url('../../images/componentes/Sliders/partners/beyond.png');    
}
.img-ibs{
    background-image: url('../../images/componentes/Sliders/partners/ibs.png');    
}
.img-learn{
    background-image: url('../../images/componentes/Sliders/partners/learn.png');    
}
.img-netex{
    background-image: url('../../images/componentes/Sliders/partners/netex.png');    
}
@media (max-width: 991px){
    .bg-icon{        
        width: 90%;        
    }
}
@media (max-width: 767){
    .slick-dots {
        bottom: -10px;
    }
}