.contenedor-productos{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
#slider{
    width: 4000px;
    height: 50px;
    background-image: url("../../images//componentes/Sliders/productos/productos.png");
    background-size: contain;    
    animation: slider 300s infinite linear;
}
@keyframes slider{
    to{
        background-position:4000px;
    }
}