#articulateTraining-body .css-sticky{
    background-color: #FFFFFF !important;
}
#articulateTraining-body .ac-ln-title a{
    color: #4E4E4E !important;
}
#articulateTraining-body .navbar-toggler i{
    color: #4E4E4E !important;
}
#articulateTraining-body .nav-item a{
    color: #4E4E4E !important;
    font-weight: 500;
}
.bg-div{
    background: #DEDDDD;
}