#class-body .css-sticky{
    background-color: #FFFFFF !important;
}
#class-body .ac-ln-title a{
    color: #4E4E4E !important;
}
#class-body .navbar-toggler i{
    color: #4E4E4E !important;
}
#class-body .nav-item a{
    color: #4E4E4E !important;
    font-weight: 500;
}
.color-subtitle-class {
    color: #0000FF;
}
.background-div-class{
    background: #4739E7;
}