#moodle-body .css-sticky{
    background-color: #FFFFFF !important;
}
#moodle-body .ac-ln-title a{
    color: #4E4E4E !important;
}
#moodle-body .navbar-toggler i{
    color: #4E4E4E !important;
}
#moodle-body .nav-item a{
    color: #4E4E4E !important;
    font-weight: 500;
}