#peek360-body .css-sticky{
    background-color: #FFFFFF !important;
}
#peek360-body .ac-ln-title a{
    color: #4E4E4E !important;
}
#peek360-body .navbar-toggler i{
    color: #4E4E4E !important;
}
#peek360-body .nav-item a{
    color: #4E4E4E !important;
    font-weight: 500;
}
.bg-div-peek{
    background: #DEDDDD;
}