#rise360-body{
    background: #000000;
}
#rise360-body .flex-grow-1{
    border-top: 2px solid #FFFFFF !important;
}
#rise360-body .fs-5.fs-subtitle.ff-bold.custom-color{
    color:#FFFFFF !important;
}