.mt-6{
    margin-top: 6rem !important;
}
@media (min-width: 992px){
    .mt-n6{
        margin-top: -6rem !important;
    }
    .mt-md-6{
        margin-top: 6rem !important;
    }
    .mt-md-10{
        margin-top: 10rem !important;
    }
    .mt-10{
        margin-top: 10rem !important;
    }
}